<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, {:class=>"text_field"} %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, {:class=>"text_area"} %>
  </div>
  <div class="actions">
    <%= f.submit  %>
	<br />
	<br />
  </div>
<% end %>
